input {
    position: absolute;
    border: 0 solid #F7F7F7;
    background-color: #F7F7F7;
}

#name {
    left: 13%;
    top: 22%;
}

#pass {
    left: 13%;
    top: 34%;
}

#submit {
    display: block;
    margin: 0 auto;
    left: 20%;
    top: 53%;
    color: #FFFFFF;
    border: 2px solid #0B6EFD;
    background-color: #0B6EFD;
    width: 60%;
    height: 6%;
}

#container {
    background-image:url(bank_mobile_screenshot.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: 100%;
    position: absolute;
}